*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 12px;
   
}

.logo{
    width: 70px;
    margin-left: 10px;
    vertical-align: middle;
    
}

.barra-principale{
    display: inline-block;
}

h1{
    display: inline-block;
    margin-left: 10px;
    font-size: 5em;
    vertical-align: middle;         
    line-height: 50px;
    height: 50px;
}

main{
    font-size: 1.5em;
}

body{
    background-color: rgba(246,248,249,255);
}

header{
    background-color: white;
    background-size: cover;
}


.riquadro-principale{
    width: 1000px;
    height: 750px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    }

    .arrow::before{
        content: '\25BE';
    }

    /* INIZIO COLORE BOTTONI*/
    
    .violet{
        display: inline-block;
        color: white;
        border-radius: 10px;
        width: 85px;
        height: 25px;
        border: 1px solid black;
        margin-left: 15px;
        vertical-align: middle;
        background-color: #9c72e4;
        text-align: center;
        font-size: 14px;
        vertical-align: middle;
        line-height: 24px;
    }

    .green{
        display: inline-block;
        color: white;
        border-radius: 10px;
        width: 85px;
        height: 25px;
        border: 1px solid black;
        margin-left: 15px;
        vertical-align: middle;
        background-color:#64c0a9;
        text-align: center;
        font-size: 14px;
        vertical-align: middle;
        line-height: 24px;

    }

    .orange{
        display: inline-block;
        color: white;
        border-radius: 10px;
        width: 85px;
        height: 25px;
        border: 1px solid black;
        margin-left: 15px;
        vertical-align: middle;
        background-color:#f29e33;
        text-align: center;
        font-size: 14px;
        vertical-align: middle;
        line-height: 24px;

    }

    .pink{
        display: inline-block;
        color: white;
        border-radius: 10px;
        width: 85px;
        height: 25px;
        border: 1px solid black;
        margin-left: 15px;
        vertical-align: middle;
        background-color:#d863a1;
        text-align: center;
        font-size: 14px;
        vertical-align: middle;
        line-height: 24px;

    }

    .verde{
        display: inline-block;
        color: white;
        border-radius: 10px;
        width: 85px;
        height: 25px;
        border: 1px solid black;
        margin-left: 15px;
        vertical-align: middle;
        background-color:#b0c926;
        text-align: center;
        font-size: 14px;
        vertical-align: middle;
        line-height: 24px;

    }

    .blu{
        display: inline-block;
        color: white;
        border-radius: 10px;
        width: 85px;
        height: 25px;
        border: 1px solid black;
        margin-left: 15px;
        vertical-align: middle;
        background-color:rgba(71,173,241,255);
        text-align: center;
        font-size: 14px;
        vertical-align: middle;
        line-height: 24px;

    }


    /* FINE COLORE PULSANTI */

    

    .pulsante-primario{
        display: inline-block;
        background-color: rgba(71,173,241,255);
        color: white;
        border-radius: 10%;
        width: 95px;
        height: 35px;
        border: 1px solid black;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 20px;
        vertical-align: middle;
        text-align: center;
    }

    .pulsante-secondario{
        display: inline-block;
        background-color: white;
        color: rgba(198,204,209,255);
        border-radius: 8%;
        width: 95px;
        height: 35px;
        border: 1px solid black;
        margin-left: 15px;
        vertical-align: middle;
        text-align: center;
    }


    hr{
        color: red;  /* il comando NON funziona*/
    }

    h2{
        margin-top: 30px;
        margin-left: 30px;
    }

    p{
       display: inline-block;
       margin-left: 50px; 
       margin-top: 15px;
       border-radius: 10%;
    }

.check::before{
    content: "\2713";
    color: #71c7b3;
    border: 1px solid #71c7b3;
    border-radius: 50%;
}

.segno-x::before{
    content: "\10102";
    color: #ed7772;
    border: 1px solid #ed7772;
    border-radius: 50%;
}


    

    

